.mg-left{
    margin-left: 40px;
}

.themed-grid-col:hover {
    transform: scale(1.05); /* Увеличьте масштаб при наведении на 105% (или другое значение по вашему выбору) */
    transition: transform 0.3s ease; /* Плавный переход для масштаба */
}

a {
    text-decoration: none; 
    color: inherit; 

}

.l-news{
    font-size:25px;
}
