{% extends "main/base.html" %}
{% load static %}


{%  block LinkViewMain %}white{% endblock %}
{%  block LinkViewAbout %}dark{% endblock %}
{%  block LinkViewStudents %}white{% endblock %}
{%  block LinkViewParents %}white{% endblock %}
{%  block LinkViewTeachers %}white{% endblock %}
{%  block LinkViewEducProc %}white{% endblock %}
{%  block LinkViewEducProc2 %}white{% endblock %}
{%  block LinkViewNews %}white{% endblock %}
{%  block LinkView2 %}white{% endblock %}
{%  block LinkView1 %}white{% endblock %}

{%  block link %} <link rel="stylesheet" type="text/css" href="{% static 'about/style.css' %}"> {% endblock %}

{% block content %}

  <h1 class="text-center">ABOUT!</h1>

 

{% endblock %}
