{% extends "main/base.html" %}
{% load static %}


{%  block LinkViewMain %}secondary{% endblock %}
{%  block LinkViewProduct %}white{% endblock %}
{%  block LinkView3 %}white{% endblock %}
{%  block LinkViewReviews %}white{% endblock %}
{%  block LinkViewAbout %}white{% endblock %}
{%  block link %} <link rel="stylesheet" type="text/css" href="{% static 'index/style.css' %}"> {% endblock %}

{% block content %}

  <h1>Hello World!</h1>
  <br><br><br><br><br><br>
  <br>
  <h1>Hello World!</h1>
 

{% endblock %}
