{% extends "main/base.html" %}
{% load static %}


{%  block LinkViewMain %}white{% endblock %}
{%  block LinkViewAbout %}white{% endblock %}
{%  block LinkViewStudents %}white{% endblock %}
{%  block LinkViewParents %}white{% endblock %}
{%  block LinkViewTeachers %}white{% endblock %}
{%  block LinkViewEducProc %}white{% endblock %}
{%  block LinkViewEducProc2 %}white{% endblock %}
{%  block LinkViewNews %}dark{% endblock %}
{%  block LinkView2 %}white{% endblock %}
{%  block LinkView1 %}white{% endblock %}

{%  block link %} <link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}"> {% endblock %}
{% block content %}

    {% if new %}
        <div class="container px-4 mb-4 rounded shadow-lg">
            <h1 class="text-center mt-3 mb-3">{{new.title}}</h1>
            <div class="row gx-1">
            <div class="col-lg">
                <img src="{% static 'images/img_news/'%}{{new.path}}" class="rounded float-start mb-4" alt="image"  style="max-width: 100%;" height="auto" width="100%">
            </div>
            <div class="col-lg">
                <div class="p-2 fs-4">
                    {{new.description}}
                </div>
            </div>
            </div>
        </div>
    {% else %}
        <div class="container mt-4">
            {% for item in news %}
            <div class="row text-white justify-content-center d-flex mb-3">
                <div class="col-md-8 themed-grid-col bg-light w-50 shadow-lg rounded border border-1">
                    <a href="news/{{item.id}}" style=" text-decoration: none; ">
                    <div class="row">
                        <div class="col-12 col-md-6 mt-2 mb-2">
                        <img src="{% static 'images/img_news/'%}{{item.path}}" alt="Картинка новости" class="img-fluid" width="200" height="120">
                        </div>
                        <div class="col-12 col-md-6 text-black order-md-first d-flex flex-column">
                        <h3 class="text-start text-truncate overflow-hidden">{{ item.title }}</h3>
                        <p class="text-start" style="max-height: 100px; overflow-y: auto;">{{ item.description }}</p>
                        <p class="mt-auto text-start">{{ item.date }}</p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
      </div>
    {% endif %}


   

{% endblock %}
