{% extends "main/base.html" %}
{% load static %}


{%  block LinkViewMain %}white{% endblock %}
{%  block LinkViewAbout %}white{% endblock %}
{%  block LinkViewStudents %}dark{% endblock %}
{%  block LinkViewParents %}white{% endblock %}
{%  block LinkViewTeachers %}white{% endblock %}
{%  block LinkViewEducProc %}white{% endblock %}
{%  block LinkViewEducProc2 %}white{% endblock %}
{%  block LinkViewNews %}white{% endblock %}
{%  block LinkView2 %}white{% endblock %}
{%  block LinkView1 %}white{% endblock %}

{%  block link %} <link rel="stylesheet" type="text/css" href=""> {% endblock %}

{% block content %}

  {% if page == 1 %}
    <p>Page not found</p>   
  {% elif page == 2 %}
    <p>Page not found 2</p>   
  {% elif page == 3 %}
    <p>Page not found 3</p>   
  {% endif %}
 

{% endblock %}
